<div class="container">
  <h1>Delivery Partner Dashboard</h1>

  <h2>Assigned Shipments</h2>

  <div id="shipments">
    <% if @shipments.any? %>
      <table>
        <thead>
          <tr>
            <th>Source</th>
            <th>Target</th>
            <th>Status</th>
            <th>Item Details</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% @shipments.each_with_index do |shipment, index| %>
            <tr class="<%= index.even? ? 'bg-beige' : 'bg-gray-50' %>">
              <td><%= shipment.source %></td>
              <td><%= shipment.target %></td>
              <td><%= shipment.status_humanize %></td>
              <td><%= shipment.item_details %></td>
              <td>
                <%= form_with(model: shipment, url: shipment_path(shipment), method: :patch, local: true, class: "flex items-center gap-2") do |f| %>
                  <%= f.select :status, Shipment::STATUS_VALUES.map { |k, v| [k.humanize, v] }, {}, class: "form-select" %>
                  <%= f.submit "Update Status", class: "button" %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% else %>
      <p class="bg-yellow-100 p-4 rounded">No shipments assigned to you yet.</p>
    <% end %>
  </div>

 

  <div id="delivered-shipments">
    <% if @delivered_shipments.any? %>
      <table>
        <thead>
          <tr>
            <th>Source</th>
            <th>Target</th>
            <th>Status</th>
            <th>Item Details</th>
          </tr>
        </thead>
        <tbody>
          <% @delivered_shipments.each_with_index do |shipment, index| %>
            <tr class="<%= index.even? ? 'bg-beige' : 'bg-gray-50' %>">
              <td><%= shipment.source %></td>
              <td><%= shipment.target %></td>
              <td><%= shipment.status_humanize %></td>
              <td><%= shipment.item_details %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% else %>
  
    <% end %>
  </div>
</div>
