<div class="max-w-4xl mx-auto p-8 bg-white rounded-lg shadow-md">
  <h1 class="text-center font-extrabold text-2xl mb-6 text-green-700 uppercase tracking-wide" style="font-family: Algerian, serif;">
    <%
=begin%>
 <img src="https://cdn-icons-png.flaticon.com/512/1055/1055685.png" alt="Box with upward arrow symbolizing shipment, simple flat design, neutral tone, no text" class="inline-block w-4 h-4 align-middle mr-2"> 
<%
=end%>
    Create a Shipment
  </h1>
  <%= render 'form', shipment: @shipment %>
</div>



<%# 
 <div class="border rounded p-4 mb-4 shadow-sm" style="background:rgb(69, 117, 164);">
  <p style="margin-bottom: 0.5rem;">
    <strong style="color:rgb(136, 142, 155);">Source:</strong>
    <span style="color:rgb(1, 6, 16);"><%= @shipment.source %></span>
  <%
=begin%>
 </p>
  <p style="margin-bottom: 0.5rem;">
    <strong style="color:rgb(134, 140, 154);">Target:</strong>
    <span style="color:rgb(1, 5, 11);"><%= @shipment.target %></span>
  </p>
  <p style="margin-bottom: 0.5rem;">
    <strong style="color:rgb(129, 136, 150);">Item Details:</strong>
    <span style="color:rgb(2, 6, 13);"><%= @shipment.item_details %></span>
  </p>
  <p>
    <strong style="color:rgb(131, 145, 177);">Status:</strong>
    <span style="color:rgb(0, 1, 3);"><%= @shipment.status %></span>
  </p>
</div> 
<%
=end%>
